<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Form</title>
</head>
<body>

<h2>Enter Student Info</h2>

<form th:action="@{/students/store}" th:object="${student}" method="post">

    <label>Student ID:</label>
    <input type="number" th:field="*{id}" required /><br/><br/>

    <label>Name:</label>
    <input type="text" th:field="*{name}" required /><br/><br/>

    <label>Password:</label>
    <input type="password" th:field="*{password}" required /><br/><br/>

    <label>Assign Courses:</label>
    <select multiple th:field="*{courseIds}">
        <option th:each="course : ${courses}"
                th:value="${course.id}"
                th:text="${course.code + ' - ' + course.title}">
        </option>
    </select>

    <br/><br/>
    <button type="submit">Create Student</button>
</form>



</body>
</html>
